* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 1rem 3rem;
}

input {
  color: grey;
  font-size: 1.2rem;
  width: 100%;
  border: 1px solid black;
  border-radius: 0.3rem;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 0.4rem;
  margin-bottom: 0.6rem;
  margin-right: 0.5rem;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}